{
  "openapi": "3.1.0",
  "info": {
    "title": "printgridpaper.com graph paper API",
    "version": "1.0.0",
    "description": "Free printable graph paper (grid paper, squared paper) as true-to-size vector PDFs. No key needed. Returns the same PDF as the Download button on printgridpaper.com. Human-readable guide: https://printgridpaper.com/llms.txt"
  },
  "servers": [
    {
      "url": "https://printgridpaper.com"
    }
  ],
  "paths": {
    "/api/pdf": {
      "get": {
        "operationId": "getGraphPaperPdf",
        "summary": "Generate a printable graph paper PDF",
        "description": "All parameters are optional; with none you get 5 mm squares on A4. Use either `size` or `spacing` (with `unit`), not both. Tell the user to print at 100% / Actual size.",
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Named square size. Sets a default paper and heavy-line interval.",
            "schema": {
              "type": "string",
              "enum": [
                "2mm",
                "5mm",
                "1cm",
                "10-per-inch",
                "eighth-inch",
                "quarter-inch",
                "half-inch",
                "1-inch"
              ]
            }
          },
          {
            "name": "spacing",
            "in": "query",
            "required": false,
            "description": "Custom square size in `unit`: 1-50 for mm, 0.04-2 for in.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "required": false,
            "description": "Unit for `spacing`.",
            "schema": {
              "type": "string",
              "enum": [
                "mm",
                "in"
              ],
              "default": "mm"
            }
          },
          {
            "name": "paper",
            "in": "query",
            "required": false,
            "description": "Paper size.",
            "schema": {
              "type": "string",
              "enum": [
                "a4",
                "letter",
                "a5",
                "a3",
                "legal",
                "tabloid",
                "custom"
              ]
            }
          },
          {
            "name": "orientation",
            "in": "query",
            "required": false,
            "description": "Page orientation.",
            "schema": {
              "type": "string",
              "enum": [
                "portrait",
                "landscape"
              ],
              "default": "portrait"
            }
          },
          {
            "name": "major",
            "in": "query",
            "required": false,
            "description": "Heavy line every N squares; 0 for none.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 20
            }
          },
          {
            "name": "color",
            "in": "query",
            "required": false,
            "description": "Line colour: blue, green, grey, black, red, or a 6-digit hex such as 4A7FB5.",
            "schema": {
              "type": "string",
              "default": "blue"
            }
          },
          {
            "name": "background",
            "in": "query",
            "required": false,
            "description": "Paper colour. black gives white lines; cream gives brown lines.",
            "schema": {
              "type": "string",
              "enum": [
                "white",
                "black",
                "cream"
              ],
              "default": "white"
            }
          },
          {
            "name": "pages",
            "in": "query",
            "required": false,
            "description": "Number of identical pages in the PDF.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25,
              "default": 1
            }
          },
          {
            "name": "calibration",
            "in": "query",
            "required": false,
            "description": "Print the 100 mm / 4 in measuring bars in the bottom margin.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "style",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "square",
                "dot",
                "coordinate",
                "isometric",
                "hexagonal",
                "polar",
                "logarithmic"
              ],
              "default": "square"
            }
          },
          {
            "name": "margin",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 50
            }
          },
          {
            "name": "weight",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0.05,
              "maximum": 1
            }
          },
          {
            "name": "mode",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "spacing",
                "count"
              ]
            }
          },
          {
            "name": "columns",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 2,
              "maximum": 200
            },
            "description": "Required with rows when mode=count"
          },
          {
            "name": "rows",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 2,
              "maximum": 200
            },
            "description": "Required with columns when mode=count"
          },
          {
            "name": "title",
            "in": "query",
            "description": "Optional sheet heading; up to 60 printable ASCII characters. Reserves space above the grid.",
            "schema": {
              "type": "string",
              "maxLength": 60,
              "pattern": "^[ -~]*$"
            }
          },
          {
            "name": "worksheetHeader",
            "in": "query",
            "description": "Add blank Name and Date fields above the grid.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "bindingMargin",
            "in": "query",
            "description": "Extra blank space on the left, in mm, in addition to the normal margin. Headings and grid both respect this space.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 30,
              "default": 0
            }
          },
          {
            "name": "radials",
            "in": "query",
            "description": "Polar radial lines; ring separation uses spacing. Polar requires spacing mode.",
            "schema": {
              "type": "integer",
              "enum": [
                12,
                24,
                36,
                72
              ],
              "default": 24
            }
          },
          {
            "name": "logAxes",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "x",
                "y",
                "both"
              ],
              "default": "y"
            }
          },
          {
            "name": "decades",
            "in": "query",
            "description": "Base-10 cycles per logarithmic axis. Log paper requires spacing mode; spacing controls the linear axis.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 4,
              "default": 2
            }
          },
          {
            "name": "separateMargins",
            "in": "query",
            "description": "Use per-side margins; supplying any side enables this unless explicitly false. Unspecified sides fall back to margin.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "marginTop",
            "in": "query",
            "description": "Top page margin in mm.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 50
            }
          },
          {
            "name": "marginBottom",
            "in": "query",
            "description": "Bottom page margin in mm.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 50
            }
          },
          {
            "name": "marginLeft",
            "in": "query",
            "description": "Left page margin in mm.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 50
            }
          },
          {
            "name": "marginRight",
            "in": "query",
            "description": "Right page margin in mm.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 50
            }
          },
          {
            "name": "paperWidth",
            "in": "query",
            "description": "Custom paper width in mm. Both dimensions required with paper=custom; landscape swaps them.",
            "schema": {
              "type": "number",
              "minimum": 100,
              "maximum": 420
            }
          },
          {
            "name": "paperHeight",
            "in": "query",
            "description": "Custom paper height in mm. Both dimensions required with paper=custom; landscape swaps them.",
            "schema": {
              "type": "number",
              "minimum": 100,
              "maximum": 420
            }
          },
          {
            "name": "cellNumbers",
            "in": "query",
            "description": "Square or complete hexagonal cells numbered in the selected order. Needs spacing at least 8 mm; limit 1000 numbered cells. Stops at sheet capacity.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "numberStart",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9999,
              "default": 1
            }
          },
          {
            "name": "numberEnd",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9999,
              "default": 31
            }
          },
          {
            "name": "numberSize",
            "in": "query",
            "description": "Requested cell number font size in mm. Automatically reduced to fit each cell.",
            "schema": {
              "type": "number",
              "minimum": 2,
              "maximum": 8,
              "default": 3.5
            }
          },
          {
            "name": "numberOrder",
            "in": "query",
            "description": "Cell numbering traversal: rows, columns or alternating rows.",
            "schema": {
              "type": "string",
              "enum": [
                "rows",
                "columns",
                "snake"
              ],
              "default": "rows"
            }
          },
          {
            "name": "numberPosition",
            "in": "query",
            "description": "Cell number placement. Corner labels shrink to leave writing space.",
            "schema": {
              "type": "string",
              "enum": [
                "center",
                "top-left",
                "top-right"
              ],
              "default": "center"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The PDF.",
            "headers": {
              "X-Grid-Columns": {
                "schema": {
                  "type": "integer"
                },
                "description": "Whole squares across."
              },
              "X-Grid-Rows": {
                "schema": {
                  "type": "integer"
                },
                "description": "Whole squares down."
              },
              "X-Square-Size-Mm": {
                "schema": {
                  "type": "number"
                },
                "description": "Square size in millimetres."
              }
            },
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "docs": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
